* {
  /* ignore current gtk theme */
  all: initial;
}

* {
  border: none;
  border-radius: 0px;
  font-family: "BlexMono Nerd Font";
  font-size: 16px;
  min-height: 0;
}

window#waybar {
  border-style: inset;
  border-bottom: 2px solid rgba(40, 40, 40, 0.9);
  background: rgba(20, 22, 23, 0.9);
  color: #d4be98;
  /*border-radius: 16px;*/
}

tooltip {
  color: #d4be98;
  background-color: rgba(0, 10, 5, 0.9);
  text-shadow: none;
  border-radius: 4px;
}

tooltip * {
  color: #d4be98;
  text-shadow: none;
}

#workspaces,
#clock,
#custom-music-meta,
#window {
  font-weight: 800;
}

/* Workspace Buttons */
#workspaces button {
  min-width: 2.5em;
}

#workspaces button label {
  color: #d4be98;
}

#workspaces button.focused label {
  color: #1d2021;
}

#workspaces button.focused {
  background: rgba(104, 157, 106, 0.75);
}

#mode {
  background-color: #ea6962;
  color: #141617;
}

#clock,
#battery,
#cpu,
#memory,
#network,
#pulseaudio,
#tray,
#mode,
#window,
#power-profiles-daemon,
#custom-scratchpad-indicator,
#custom-calendar,
#custom-notification {
  padding: 5px 5px;
  margin: 0 10px;
}

#clock,
#battery,
#cpu,
#memory,
#network,
#pulseaudio,
#tray,
#window,
#power-profiles-daemon,
#custom-scratchpad-indicator,
#custom-calendar,
#custom-notification {
  color: #ddc7a1;
}

#idle_inhibitor {
  color: #d4be98;
  padding: 0 10px;
  min-width: 2.3em;
  margin: 0;
  /*border-top-left-radius: 8px;*/
  /*border-bottom-left-radius: 8px;*/
}

#idle_inhibitor.activated {
  background-color: rgba(104, 157, 106, 0.75);
}

#custom-music,
#custom-music-meta {
  color: #7daea3;
  margin: 0 15px;
  padding: 0 20px;
  border-bottom: 2px solid #7daea3;
}

#clock {
  margin: 0;
  color: #d8a657;
  border-bottom: 2px solid #d8a657;
}

#network.disconnected {
  color: #cc241d;
  border-bottom: 2px solid #cc241d;
}

#pulseaudio.muted {
  padding: 0 20px;
  color: #cc241d;
  border-bottom: 2px solid #cc241d;
}

#tray menu {
  padding: 0.25em 0.5em;
  color: #d4be98;
  background-color: rgba(29, 32, 33, 0.95);
  border-radius: 4px;
}

#tray menu * {
  color: #d4be98;
  border-radius: 4px;
  padding: 0.1em 0.25em;
}

menu > *:hover {
  background-color: rgba(235, 219, 178, 0.1);
}
